@font-face {
    font-family: unown;
    src: url(./assets/unown.ttf);
}

#next {
    position: fixed;
    right: 10px;
    top: 300px;
}

.go-to-index {
    display: flex;
    justify-content: center;
    align-items: center;


    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    input {
        width: 90px;
        height: 30px;
        border-radius: 20px;
        text-align: center;
        font-size: 20px;
    }

    button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: gold;
        color: blue;

    }
}

.goHome {
    position: fixed;
    left: 10px;
    top: 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

#previous {
    position: fixed;
    left: 10px;
    top: 300px;

}

.leftPointer,
.rightPointer {
    background-color: transparent;
    font-size: 100px;
    border: none;
    color: white;
    font-weight: 900;
    cursor: pointer;
}


#allWrapper {
    width: 50%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-container {
    width: 100%;
    margin: 0 auto;

    background-color: rgb(41, 62, 167);
    border: 1px solid rgba(128, 128, 128, 0.367);
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(45, 45, 45, 0.508);

    display: flex;
    flex-direction: column;



    .poketitle {
        width: 100%;
        margin: 0 auto;
        margin-top: 2rem;
        text-align: center;
        align-items: flex-start;
        justify-self: flex-start;
    }


}

.smaller-container {

    width: 400px;
    height: 600px;
    opacity: 0.8;

    background-color: rgba(128, 0, 128, 0.262);
    border: 1px solid grey;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    #prevId {
        align-self: flex-start;
        margin: 10px;
    }

    #nextId {
        align-self: flex-start;
        margin: 10px;
    }


    img {
        width: 100%;
        max-width: 90%;
        filter: brightness(0) contrast(100%) grayscale(100) blur();
        user-select: none;
    }

    .fake-text {
        width: 60%;
        font-family: unown, sans-serif;
        background: transparent;
    }

}

#stopPrev {
    position: fixed;
    top: 6%;
    left: 9%;
    z-index: -2;
}

#stopNext {
    position: fixed;
    top: 6%;
    right: 9%;
    z-index: -2;

}

#pokedetails {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.image-container {
    position: relative;
    width: 400px;
    height: 400px;
    user-select: none;
}

#image1,
#image2 {
    width: 400px;
    height: 400px;
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

#image1:hover {
    opacity: 0;
}

.stat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 1rem;

}

.stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    margin: 0 auto;
    color: white;

    div {
        display: flex;
        justify-content: flex-start;
        gap: 10px;


    }

    >span {
        width: 115px;
    }

}

.statbar {
    width: 255px;
    height: 10px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    gap: 10px;
}

#hp,
#attack,
#defense,
#special-attack,
#special-defense,
#speed {
    background-color: red;
    border-radius: 4px;
    z-index: 0;
}

.hidden {
    display: none;
}


#type-tainer {
    width: 100%;
    position: relative;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    z-index: 2;

    p {
        position: absolute;
        top: 40%;
        left: 10%;
        color: white;
    }

}

.type {
    background-color: rgb(41, 62, 167);
    border: 1px solid rgba(128, 128, 128, 0.367);
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(45, 45, 45, 0.508);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 10px;

    img {
        width: 100%;
        max-width: 50px;
    }
}

.audio {
    width: 100%;
    z-index: 2;

    background-color: rgb(41, 62, 167);
    border: 1px solid rgba(128, 128, 128, 0.367);
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(45, 45, 45, 0.508);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 10px;
}

audio::-webkit-media-controls-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-fast-forward-button {
    display: none !important;
}

#abilities {
    width: 100%;
    height: 90px;

    background-color: rgb(41, 62, 167);
    border: 1px solid rgba(128, 128, 128, 0.367);
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(45, 45, 45, 0.508);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;

    span {
        color: yellow;
    }

    p {
        color: white;
        text-transform: uppercase;
    }

}


#locations {
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(3px);

    background-color: rgba(15, 15, 15, 0.396);
    border: 10px solid rgb(41, 62, 167);
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(45, 45, 45, 0.508);

    display: grid;
    place-items: center;
    padding: 25px;


    >div {
        display: flex;

        >div {
            display: grid;
            place-items: center;

            width: 30px;
            height: 30px;
            background-color: transparent;
            font-size: 12px;

            position: relative;
        }
    }

    .a-12,
    .a-13,
    .a-14,
    .b-12,
    .c-1,
    .c-6,
    .c-7,
    .c-8,
    .c-8,
    .c-9,
    .c-10,
    .c-11,
    .c-12,
    .c-13,
    .c-14,
    .c-15,
    .c-16,
    .d-1,
    .d-3,
    .d-4,
    .d-5,
    .d-6,
    .d-12,
    .d-16,
    .e-1,
    .e-3,
    .e-12,
    .e-16,
    .f-1,
    .f-3,
    .f-5,
    .f-6,
    .f-7,
    .f-8,
    .f-9,
    .f-10,
    .f-11,
    .f-12,
    .f-13,
    .f-14,
    .f-15,
    .f-16,
    .g-1,
    .g-3,
    .g-5,
    .g-12,
    .g-16,
    .h-1,
    .h-3,
    .h-5,
    .h-12,
    .h-16,
    .i-1,
    .i-2,
    .i-3,
    .i-5,
    .i-12,
    .i-16,
    .j-3,
    .j-5,
    .j-12,
    .j-13,
    .j-14,
    .j-15,
    .j-16,
    .k-3,
    .k-5,
    .k-16,
    .l-3,
    .l-13,
    .l-14,
    .l-15,
    .l-16,
    .m-3,
    .m-13,
    .n-8,
    .n-9,
    .n-10,
    .n-11,
    .n-12,
    .n-13,
    .o-10,
    .p-3 {
        background-color: rgb(235, 221, 181);
    }

    /* seaways */
    .l-5,
    .k-5,
    .m-5,
    .n-5,
    .n-6,
    .n-7,
    .n-3,
    .o-3,
    .p-4,
    .p-5,
    .p-7,
    .p-8,
    .p-9,
    .p-10 {
        background-color: aqua;
        border: none;
        color: white;
        position: relative;
        z-index: -2;
    }

    .l-5:before,
    .k-5:before,
    .m-5:before,
    .n-5:before,
    .n-6:before,
    .n-7:before,
    .n-3:before,
    .o-3:before,
    .p-4:before,
    .p-5:before,
    .p-7:before,
    .p-8:before,
    .p-9:before,
    .p-10:before {
        position: absolute;
        background-color: black;
        border-radius: 99%;
        height: 50%;
        width: 50%;
        content: "";
        z-index: -1;

    }

    /* CITIES */
    .c-12,
    .f-12,
    .f-9,
    .f-12,
    .f-16,
    .j-12,
    .n-10,
    .d-3,
    .i-3,
    .l-3,
    .c-1,
    .p-3 {
        background-color: rgb(231, 134, 134);
        border: 2px solid white;
    }

    /* forests */

    .f-3 {
        background-color: rgb(27, 214, 149);
        border: 2px solid white;

    }

    /* caves */
    .d-1,
    .c-7,
    .c-16 {
        background-color: rgb(176, 156, 125);
        border: 2px solid white;


    }

    /* island */

    .p-6 {
        background-color: rgb(28, 50, 95);
        border: 2px solid white;


    }


    .targetAquired {
        border: 4px dashed rgb(212, 28, 28);
    }

    .targetLegendary {

        border: 4px dashed rgb(255, 17, 227);

    }

    .mt-moon {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Mt.Moon";
            color: white;
            display: none;
        }
    }

    .mt-moon:hover {
        &:after {
            display: block;

        }
    }

    .cerulean-city-area {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Cerulean City";
            color: white;
            display: none;
        }
    }

    .cerulean-city-area:hover {
        &:after {
            display: block;

        }
    }

    .rock-tunnel {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Rock Tunnel";
            color: white;
            display: none;
        }
    }

    .rock-tunnel:hover {
        &:after {
            display: block;

        }
    }

    .Indigo-plateau {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Indigo Plateau";
            color: white;
            display: none;
        }
    }

    .Indigo-plateau:hover {
        &:after {
            display: block;

        }
    }

    .victory-road {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Victory road";
            color: white;
            display: none;
        }
    }

    .victory-road:hover {
        &:after {
            display: block;

        }
    }

    .viridian-forest-area {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Viridian Forest";
            color: white;
            display: none;
        }
    }

    .viridian-forest-area:hover {
        &:after {
            display: block;

        }
    }

    .celadon-city-area {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Celadon City";
            color: white;
            display: none;
        }
    }

    .celadon-city-area:hover {
        &:after {
            display: block;

        }
    }

    .saffron-city-area {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Saffron City";
            color: white;
            display: none;
        }
    }

    .saffron-city-area:hover {
        &:after {
            display: block;

        }
    }

    .lavender-town-area {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Lavender Town";
            color: white;
            display: none;
        }
    }

    .lavender-town-area:hover {
        &:after {
            display: block;

        }
    }

    .viridian-city-area {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Viridian City";
            color: white;
            display: none;
        }
    }

    .viridian-city-area:hover {
        &:after {
            display: block;

        }
    }

    .vermilion-city-area {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Vermilion City";
            color: white;
            display: none;
        }
    }

    .vermilion-city-area:hover {
        &:after {
            display: block;

        }
    }

    .pewter-city-area {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Pewter City";
            color: white;
            display: none;
        }
    }

    .pewter-city-area:hover {
        &:after {
            display: block;

        }
    }

    .pallet-town {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Pallet Town";
            color: white;
            display: none;
        }
    }

    .pallet-town:hover {
        &:after {
            display: block;

        }
    }

    .fuchsia-city-area {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Fuchsia City & Safari-Zone";
            color: white;
            display: none;
        }
    }

    .fuchsia-city-area:hover {
        &:after {
            display: block;

        }
    }

    .cinnabar-island-area {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Cinnabar Island";
            color: white;
            display: none;
        }
    }

    .cinnabar-island-area:hover {
        &:after {
            display: block;

        }
    }

    .seafoam-islands {
        position: relative;

        &:after {
            position: absolute;
            top: -20px;
            background-color: black;
            content: "Seafoam Island";
            color: white;
            display: none;
        }
    }

    .seafoam-islands:hover {
        &:after {
            display: block;

        }
    }
}