@font-face {
    font-family: unown;
    src: url(./assets/unown.ttf);
}

#next {
    position: fixed;
    right: 10px;
    top: 300px;

    @media (max-width:768px) {
        right: 0;
        top: 95px;

    }
}

#previous {
    position: fixed;
    left: 10px;
    top: 300px;

    @media (max-width:768px) {
        left: 0;
        top: 95px;
    }
}

.go-to-index {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:768px) {
        margin-top: 2rem;
    }


    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    input {
        width: 90px;
        height: 30px;
        border-radius: 20px;
        text-align: center;
        font-size: 20px;
    }

    button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: gold;
        color: blue;

    }
}

.goHome {
    position: fixed;
    left: 10px;
    top: 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.leftPointer,
.rightPointer {
    background-color: transparent;
    font-size: 100px;
    border: none;
    color: white;
    font-weight: 900;
    cursor: pointer;
}


#allWrapper {
    width: 50%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 1250px) {
        width: 90%;
    }
}

.main-container {
    width: 100%;
    margin: 0 auto;

    background-color: rgb(41, 62, 167);
    border: 1px solid rgba(128, 128, 128, 0.367);
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(45, 45, 45, 0.508);

    display: flex;
    flex-direction: column;

    .poketitle {
        width: 100%;
        margin: 0 auto;
        margin-top: 2rem;
        text-align: center;
        align-items: flex-start;
        justify-self: flex-start;

        @media (max-width: 768px) {
            font-size: 18px;

        }
    }
}

.smaller-container {

    width: 400px;
    height: 600px;
    opacity: 0.8;

    background-color: rgba(128, 0, 128, 0.262);
    border: 1px solid grey;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    @media (max-width: 1250px) {
        display: none;
    }

    #prevId {
        align-self: flex-start;
        margin: 10px;
    }

    #nextId {
        align-self: flex-start;
        margin: 10px;
    }


    img {
        width: 100%;
        max-width: 90%;
        filter: brightness(0) contrast(100%) grayscale(100) blur();
        user-select: none;
    }

    .fake-text {
        width: 60%;
        font-family: unown, sans-serif;
        background: transparent;
    }

}

#stopPrev {
    position: fixed;
    top: 6%;
    left: 9%;
    z-index: -2;

}

#stopNext {
    position: fixed;
    top: 6%;
    right: 9%;
    z-index: -2;

}

#pokedetails {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.pokeImg {
    position: relative;
    width: 400px;
    height: 400px;
    user-select: none;

    @media (max-width: 768px) {
        width: 220px;
        height: 220px;
    }
}

#image1,
#image2 {
    width: 400px;
    height: 400px;
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;

    @media (max-width: 768px) {
        width: 220px;
        height: 220px;
    }
}

#image1:hover {
    opacity: 0;
}


/* ______________________ STATS ______________________  */
/* ______________________ STATS ______________________  */
/* ______________________ STATS ______________________  */


.stat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;

    >div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;

        width: max-content;

    }

    @media (max-width: 635px) {
        gap: 5px;
    }

    .health::before {
        content: "Health";
    }

    .atk::before {
        content: "Attack";
    }

    .def::before {
        content: "Defense";
    }

    .spatk::before {
        content: "Sp.Atk";
    }

    .spdef::before {
        content: "Sp.Def";
    }

    .spd::before {
        content: "Speed";
    }

    @media (max-width: 635px) {
        width: 100%;
        margin-top: 1rem;

        .health::before {
            content: "HP";
        }

        .atk::before {
            content: "Atk";
        }

        .def::before {
            content: "Def";
        }

        .spatk::before {
            content: "SpA";
        }

        .spdef::before {
            content: "SpD";
        }

        .spd::before {
            content: "Spd";
        }
    }

}

.stats {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    color: white;

    @media (max-width: 620px) {
        flex-direction: column;
        gap: 4px;
    }

    div {
        display: flex;
        justify-content: flex-start;
        gap: 10px;


    }

    span {
        width: 115px;
    }

    p {
        align-self: flex-end;
    }

    .statbar {
        width: 255px;
        height: 10px;
        border: 1px solid black;
        border-radius: 4px;
        display: flex;
        gap: 10px;
        align-self: center;
    }

}


#hp,
#attack,
#defense,
#special-attack,
#special-defense,
#speed {
    background-color: rgb(195, 2, 2);
    border-radius: 4px;
    z-index: 0;
}

/* ______________________ STATS ______________________  */
/* ______________________ STATS ______________________  */
/* ______________________ STATS ______________________  */

.hidden {
    display: none;
}


#type-tainer {
    width: 100%;
    position: relative;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    z-index: 2;

    p {
        position: absolute;
        top: 40%;
        left: 10%;
        color: white;


    }

}

.type {
    background-color: rgb(41, 62, 167);
    border: 1px solid rgba(128, 128, 128, 0.367);
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(45, 45, 45, 0.508);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 10px;

    img {
        width: 100%;
        max-width: 50px;
    }
}

.audio {
    width: 100%;
    z-index: 2;

    background-color: rgb(41, 62, 167);
    border: 1px solid rgba(128, 128, 128, 0.367);
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(45, 45, 45, 0.508);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 10px;
}

audio::-webkit-media-controls-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-fast-forward-button {
    display: none !important;
}

#abilities {
    width: 100%;
    height: 90px;

    background-color: rgb(41, 62, 167);
    border: 1px solid rgba(128, 128, 128, 0.367);
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(45, 45, 45, 0.508);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;

    @media (max-width: 768px) {
        font-size: 14px;

        span {
            font-size: 10px;
        }

    }

    span {
        color: yellow;
    }

    p {
        color: white;
        text-transform: uppercase;
    }

}